.comment {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 5px;
	background-color: #e0e7ff;
	color: #1e40af;
	width: 175px;
	height: 200px;
	margin: 6px;
	padding: 12px;
	cursor: pointer;
}
.title {
	color: #fb923c;
	font-weight: bold;
}
